body {
  background-color: #ffeeee;
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: "Montserrat"; */
}

/* Navigation Bar */
.logo {
  max-height: 8rem;
}
@media (min-width: 1000px) {
  .logo {
    max-height: 4rem;
  }
}
.navitem {
  font-size: 2.5rem;
  font-family: "Futura";
  color: white;
  margin-right: 2rem;
}

@media (min-width: 1000px) {
  .navitem {
    font-size: 1.2rem;
  }
}

.navlist {
  margin-left: 5rem;
}
@media (min-width: 1000px) {
  .navicon1 {
    margin-left: 1rem;
  }
  .navicon2 {
    margin-left: 2.1rem;
  }
  .navicon3 {
    margin-left: 2.25rem;
  }
  .navicon4 {
    margin-left: 2.5rem;
  }
  .navlist {
    margin-left: 30rem;
  }
}

/* Create Account Form */

@media (max-width: 1000px) {
  body {
    font-size: 2.5rem;
  }
}
.container {
  margin-top: 0.5rem;
  height: 40rem;
  margin-bottom: 3rem;
}

@media (max-width: 1000px) {
  .container {
    margin-top: 5rem;
    width: 75rem;
  }
}
h3 {
  font-family: "Futura";
}

input[type="text"],
input[type="password"] {
  max-width: 25rem;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  display: inline-block;
  border: 0.07rem solid;
  background: #f1f1f1;
}
.fnameinput {
  height: 2rem;
}
.lnameinput {
  height: 2rem;
}
.cityinput {
  margin-left: 3.1rem;
  height: 2rem;
}
.zipcodeinput {
  margin-left: 0.75rem;
  height: 2rem;
}
.emailinput {
  margin-left: 2.3rem;
  height: 2rem;
}
.tradeinput {
  margin-left: 5.7rem;
  max-width: 10rem;
  height: 2rem;
}

@media (max-width: 1000px) {
  .fnameinput {
    height: 3.5rem;
    font-size: 1.5rem;
  }
  .lnameinput {
    height: 3.5rem;
    font-size: 1.5rem;
    margin-left: 0.25rem;
  }
  .emailinput {
    height: 3.5rem;
    font-size: 1.5rem;
    margin-left: 6rem;
  }
  .tradeinput {
    height: 3.5rem;
    font-size: 1.5rem;
    margin-left: 13rem;
  }
  .zipcodeinput {
    height: 3.5rem;
    margin-left: 2.25rem;
    font-size: 1.4rem;
  }
  .cityinput {
    height: 3.5rem;
    font-size: 1.5rem;
    margin-left: 8rem;
  }
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}
@media (max-width: 1000px) {
  h3 {
    font-size: 3rem;
  }
}
hr {
  border: 1px solid;
}

button {
  background-color: #04aa6d;
  color: white;
  padding: 0.8rem 1rem;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}

.cancelbtn {
  background-color: #f44336;
}

.cancelbtn,
.signupbtn {
  float: left;
  font-size: 1.6rem;
  height: 4rem;
  width: 15.5rem;
}
@media (max-width: 1000px) {
  .cancelbtn,
  .signupbtn {
    width: 20rem;
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
h1 {
  font-family: "Futura";
  font-size: 1.5rem;
  margin-right: 45rem;
}
figcaption {
  text-align: center;
}
.imagegallerycontainer1 {
  position: absolute;
  margin-left: 40rem;
  margin-top: 5rem;
}
.imagegallerycontainer2 {
  position: absolute;
  margin-left: 40rem;
  margin-top: 25rem;
}
@media (max-width: 1000px) {
  .imagegallerycontainer1 {
    visibility: hidden;
  }
  .imagegallerycontainer2 {
    visibility: hidden;
  }
}
.constructionpic {
  height: 13.75rem;
  width: 25rem;
}
.welderpic {
  height: 13.9rem;
  width: 25rem;
}

/* Footer Section */
footer {
  background-color: black;
  min-height: 3rem;
}

@media (min-width: 1000px) {
  footer {
    height: 2.5rem;
  }
}
.footericon {
  color: white;
  font-size: 3rem;
  margin-left: 5rem;
  margin-top: 0.5rem;
}

@media (min-width: 1000px) {
  .footericon {
    font-size: 1.75rem;
  }
}
.footercontainer {
  margin-left: 15rem;
}

@media (min-width: 1000px) {
  .footercontainer {
    margin-left: 30rem;
  }
}

@media (max-width: 700px) {
  .barber {
    visibility: hidden;
  }
  .welder {
    visibility: hidden;
  }
  .plumber {
    visibility: hidden;
  }
  .electrician {
    visibility: hidden;
  }
  .footercontainer {
    margin-left: 15rem;
  }
}
