<form action="/externalApp" method="post">
  <input type="hidden" name="organization" value="<%= school.name %>" />
  <input type="hidden" name="org_id" value="<%= school._id %>" />
  <input
    type="hidden"
    name="orgApplicationURL"
    value="<%= school.applyUrl %>"
  />
  <br />
  <button name="apply" type="submit">
    Apply Now
    <i class="fa-solid fa-square-arrow-up-right"></i>
  </button>
  <br />
  <br />
  <br />
</form>
