<!-- Calendly inline widget -->
<div
  class="calendly-inline-widget"
  data-url="https://calendly.com/boepartners/discovery?hide_gdpr_banner=1&primary_color=437e58"
  style="border-radius: 25px"
></div>
<script
  type="text/javascript"
  src="https://assets.calendly.com/assets/external/widget.js"
  async
></script>
