<footer>
  <div class="footercontainer">
    <a target="_blank" href="https://www.instagram.com/">
      <i class="fa-brands fa-instagram"></i>
    </a>
    <a target="_blank" href="https://linkedin.com/">
      <i class="fa-brands fa-linkedin"></i>
    </a>
    <a href="mailto: boe@boe.com">
      <i class="fa-solid fa-envelope"></i>
    </a>
  </div>
</footer>
