<footer>
  <div class="footercontainer">
    <a target="_blank" href=""
      ><i class="footericon fa-brands fa-instagram"></i
    ></a>
    <a target="_blank" href=""
      ><i class="footericon fa-brands fa-linkedin"></i
    ></a>
    <i
      onclick="sendemail()"
      style="cursor: pointer"
      class="footericon fa-solid fa-envelope"
    ></i>
  </div>
</footer>
<!-- External JavaScript and jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
