<footer class="fixed-bottom">
  <div class="footercontainer">
    <a target="_blank" href="https://www.instagram.com/boepartners/">
      <i class="footericon fa-brands fa-instagram"></i>
    </a>
    <a href="mailto:javier@boepartners">
      <i style="cursor: pointer" class="footericon fa-solid fa-envelope"></i>
    </a>
  </div>
</footer>
 