<form action="/usersignup" method="post">
  <h3 class="createaccountheader">
    Subscribe to our BOE newsletter for weekly updates and skilled trade
    opportunities!
  </h3>
  <hr />
  <p class="lo-error-message">
    <% if (subError && subError.length !== 0) { %>
    <span><i class="fa fa-exclamation-triangle" aria-hidden="true"> </i> </span>
    <%=subError %> <% } %>
  </p>
  <label for="fname" class="form-label">First Name</label>
  <input type="text" class="fnameinput form-control" name="fname"
  autocomplete="given-name" value="<%= isAuthenticated ? firstName : "" %>"
  required />
  <label for="lname" class="form-label">Last Name</label>
  <input type="text" class="lnameinput form-control" name="lname"
  autocomplete="family-name" value="<%= isAuthenticated ? lastName : "" %>"
  required />
  <label for="email" class="form-label">Email</label>
  <input type="email" class="emailinput form-control" name="email"
  autocomplete="email" value="<%= isAuthenticated ? email : "" %>" required />
  <label for="city" class="form-label">City</label>
  <input
    type="text"
    class="cityinput form-control"
    name="city"
    autocomplete="address-level2"
    required
  />
  <label for="zipcode" class="form-label">Zip Code</label>
  <input
    type="text"
    class="zipcodeinput form-control"
    name="zipcode"
    autocomplete="postal-code"
    required
  />
  <br />
  <hr />
  <section class="lo-trade-section">
    <label for="trade1" class="form-label"
      >List up to 3 trades that interest you:</label
    >
    <input
      type="text"
      placeholder="Enter Trade 1"
      name="trade1"
      autocomplete="off"
      list="trade-options"
      required
    />

    <input
      type="text"
      placeholder="Enter Trade 2 (optional)"
      autocomplete="off"
      name="trade2"
      list="trade-options"
    />

    <input
      type="text"
      placeholder="Enter Trade 3 (optional)"
      autocomplete="off"
      name="trade3"
      list="trade-options"
    />

    <datalist id="trade-options">
      <option value="electrical"></option>
      <option value="welding"></option>
      <option value="programming"></option>
      <option value="cosmetology"></option>
      <option value="construction"></option>
      <option value="aviation"></option>
      <option value="data analytics"></option>
      <option value="plumbing"></option>
      <option value="nursing"></option>
      <option value="automotive technician"></option>
      <option value="ux/ui"></option>
      <option value="pilot"></option>
      <option value="flight instructor"></option>
      <option value="patient care technician"></option>
      <option value="barbering"></option>
    </datalist>
  </section>
  <button type="submit" class="signupbtn">Subscribe</button>
</form>
