<form action="/usersignup" method="post">
  <h3 class="createaccountheader">
    Subscribe to our BOE newsletter for weekly updates and skilled trade
    opportunities!
  </h3>
  <hr />
  <label for="fname" class="form-label">First Name:</label>
  <input type="text" class="fnameinput form-control" name="fname" required />
  <label for="lname" class="form-label">Last Name:</label>
  <input type="text" class="lnameinput form-control" name="name" required />
  <label for="email" class="form-label">Email:</label>
  <input type="text" class="emailinput form-control" name="email" required />
  <label for="city" class="form-label">City:</label>
  <input type="text" class="cityinput form-control" name="city" required />
  <label for="zipcode" class="form-label">Zip Code:</label>
  <input
    type="text"
    class="zipcodeinput form-control"
    name="zipcode"
    required
  />
  <section class="lo-trade-section">
    <label for="trade1" class="form-label"
      >List up to 3 trades that interest you:</label
    >
    <input
      type="text"
      class="tradeinput form-control"
      placeholder="Enter Trade 1"
      name="trade1"
      required
    />
    <input
      type="text"
      class="tradeinput form-control"
      placeholder="Enter Trade 2 (optional)"
      name="trade2"
    />
    <input
      type="text"
      class="tradeinput form-control"
      placeholder="Enter Trade 3 (optional)"
      name="trade3"
    />
  </section>
  <button type="submit" class="signupbtn">Subscribe</button>
</form>
