<form action="/usersignup" method="post">
  <h3>
    Subscribe to our BOE newsletter for weekly updates and skilled trade
    opportunities!
  </h3>
  <hr />
  <p class="lo-error-message">
    <% if (subError && subError.length !== 0) { %>
    <span><i class="fa fa-exclamation-triangle" aria-hidden="true"> </i> </span>
    <%=subError %> <% } %>
  </p>
  <label for="fname" class="form-label">First Name</label>
  <input
    type="text"
    name="fname"
    autocomplete="given-name"
    value="<%= isAuthenticated ? name : "" %>"
    required
  />
  <label for="lname" class="form-label">Last Name</label>
  <input
    type="text"
    name="lname"
    autocomplete="family-name"
    value="<%= isAuthenticated ? name : "" %>"
    required
  />
  <label for="email" class="form-label">Email</label>
  <input
    type="text"
    name="email"
    autocomplete="email"
    value="<%= isAuthenticated ? email : "" %>"
    required
  />
  <label for="city" class="form-label">City</label>
  <input
    type="text"
    name="city"
    autocomplete="address-level2"
    required
  />
  <label for="zipcode" class="form-label">Zip Code</label>
  <input
    type="number"
    name="zipcode"
    autocomplete="postal-code"
    required
  />
  <br />
  <hr />
  <section class="lo-trade-section">
    <label for="trade1">List up to 3 trades that interest you:</label>
    <input
      type="text"
      placeholder="Enter Trade 1"
      name="trade1"
      autocomplete="off"
      required
    />
    <input
      type="text"
      placeholder="Enter Trade 2 (optional)"
      autocomplete="off"
      name="trade2"
    />
    <input
      type="text"
      placeholder="Enter Trade 3 (optional)"
      autocomplete="off"
      name="trade3"
    />
  </section>
  <button type="submit" class="signupbtn">Subscribe</button>
</form>
