<div class="lo-container lo-image-gallery">
  <h3>Trade Examples</h3>

  <figure>
    <img
      src="../images/subscribe/electrical.jpeg"
      class="img-thumbnail grayscale"
    />
    <figcaption>Electrical</figcaption>
  </figure>

  <figure>
    <img
      src="../images/subscribe/welding.jpeg"
      class="welderpic img-thumbnail grayscale"
    />
    <figcaption>Welding</figcaption>
  </figure>

  <figure>
    <img
      src="../images/subscribe/cosmetology.jpeg"
      class="img-thumbnail grayscale"
    />
    <figcaption>Cosmetology</figcaption>
  </figure>

  <figure>
    <img
      src="../images/subscribe/construction.jpeg"
      class="constructionpic img-thumbnail grayscale"
    />
    <figcaption>Construction</figcaption>
  </figure>
</div>
