<strong class="pointofcontactlabel">Point of Contact</strong>
<p class="pointofcontact">
  <%= school.pointOfContact.name %>
  <br />
  <%= school.pointOfContact.number %>
  <br />
  <%= school.pointOfContact.email %>
  <br />
  <a href="<%= school.pointOfContact.contactUrl %>">Request information</a>
</p>
