@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0; 
}

body {
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 300px;
    height: 350px;
    overflow: hidden;
    
    position: absolute;
}

.register {
    width: 300px;
    height: 350px;
    background: rgb(149,0,255);
background: linear-gradient(45deg, rgba(149,0,255,1) 0%, rgba(187,15,247,1) 25%, rgba(83,39,255,1) 52%, rgba(127,35,255,1) 76%, rgba(0,78,255,1) 98%);
    background-size: 300%;
    
    position: absolute;
    
    display: flex;
    flex-direction: column;
    align-items: center; 
  
    animation: bg-animation 5s infinite alternate;
}


.title {
    text-align: center;
    padding: 15px;
    padding-top: 20px;
    font-family: 'Baloo 2', cursive;
    font-size: 28px;
    font-weight: 700;
    color: white;
    
}

.black {
    color: black;
}

.form {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

input {
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #cac9d4;
    color: black;
}

.btn {
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #00b4d8;
    color: white;
    border: none;
}

.dark-btn {
    background-color: #0077b6;
}

.login {
    width: 300px;
    height: 350px;
    background-color: #ffffff;
    
    border-radius: 50px;
    
    position: absolute;
    top: 280px;
    transition: 0.3s ease-out;
    
}

.login:hover {
    top: 70px;
    border-radius: 10px;
}

.login:hover + .register-hover {
    font-size: 20px;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }
    
    100% {
        background-position: right;
    }
}
