<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="lo-body">
    <!-- Navigation Bar -->
    <%- include('../partials/nav'); %>
    <section class="lo-section-main lo-section-404">
      <h1>
        Oops, <br />
        <span class="lo-text-gradient">nothing</span> here...
      </h1>
      <h2 class="lo-text-uppercase">404 <span>&#183;</span> Page Not Found</h2>
      <p>Uh oh, we can't seem to find the page you're looking for.</p>
      <a href="/">
        <span>Return home</span>
      </a>
    </section>
    <!-- Footer Section -->
    <%- include('../partials/footer'); %>
  </body>
</html>
