<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="lo-body">
    <!-- Navigation Bar -->
    <%- include('../partials/nav'); %>
    <section class="lo-section-main">
      <div class="lo-container lo-container-alert">
        <section class="lo-container-img-side">
          <div class="lo-img-wrapper lo-success">
            <i class="fa fa-check-circle" aria-hidden="true"></i>
          </div>
        </section>
        <section class="lo-container-text-side">
          <h3>Success!</h3>
          <p>Congratulations, your application has been submitted.</p>
        </section>
      </div>
      <a href="/">
        <span>Return home</span>
      </a>
    </section>
    <!-- Footer Section -->
    <%- include('../partials/footer'); %>
  </body>
</html>
