<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="lo-body lo-body-pop">
    <!-- Navigation Bar -->
    <%- include('../partials/nav'); %>
    <!-- Calendly widget -->
    <%- include('../partials/calendly'); %>
    <!-- Footer Section -->
    <%- include('../partials/footer'); %>
  </body>
</html>
