<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="lo-body lo-body-pop">
    <!-- Navigation Bar -->
    <%- include('../partials/nav'); %>
    <!-- Calendly widget -->
    <%- include('../partials/calendly'); %>
    <!-- Footer Section -->
    <%- include('../partials/footer'); %>

    <!-- External JavaScript and jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </body>
</html>
