<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="lo-body">
    <!-- Navigation Bar -->
    <%- include('../partials/nav'); %>
    <section class="lo-section-main">
      <div class="lo-container lo-container-alert">
        <section class="lo-container-img-side">
          <div class="lo-img-wrapper lo-failure">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          </div>
        </section>
        <section class="lo-container-text-side">
          <h3>Oops! An error occured.</h3>
          <p>
            Apologies for the inconvenience.
            <a href="/subscribe">Please try again.</a>
          </p>
        </section>
      </div>
      <a href="/subscribe">
        <span>Subscribe</span>
      </a>
    </section>
    <!-- Footer Section -->
    <%- include('../partials/footer'); %>
  </body>
</html>
