<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="../css/login.css" />
  </head>
  <body class="lo-body">
    <%- include('../partials/nav'); %>

    <h3>Kickstart a career in a skilled trade.</h3>
    <div class="lo-container">
      <% if (messages.error) { %> <%= messages.error %> <% } %>
      <form action="/login" method="POST">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required />

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />

        <button type="submit">Login</button>
      </form>
      <section>
        <span>Don't have an account?</span>
        <a href="/register">Sign Up</a>
      </section>
    </div>

    <!-- Footer Section -->
    <%- include('../partials/footer'); %>

    <!-- External JavaScript and jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="server.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/search.js"></script>
  </body>
</html>
