<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/css/lo.css" />
  </head>
  <body class="lo-body">
    <%- include('../partials/nav'); %>
    <section class="lo-section-main">
      <div class="lo-container lo-container-big">
        <h1>Welcome <%= name %></h1>
        <section class="lo-profile-card lo-profile-card-avatar">
          <p>HELLO</p>
        </section>
        <section class="lo-profile-card lo-profile-card-info">
          <p class="item">Favorites</p>
          <p class="item">User Profiles</p>
          <p class="item">Settings</p>
          <p class="item">Concerns</p>
        </section>
      </div>
      <div class="lo-container lo-container-big"></div>
      <div class="lo-container lo-container-big"></div>
      <div class="lo-container lo-container-big"></div>
    </section>
    <%- include('../partials/footer'); %>
  </body>
</html>
