<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/css/resources.css" />
  </head>
  <body class="lo-body">
    <!-- Navigation Bar -->
    <%- include('../partials/nav'); %>
    <section class="lo-section-main">
      <!-- Carousel -->
      <%- include('../partials/carousel'); %>

      <!-- Footer Section -->
      <%- include('../partials/footer'); %>
    </section>
    <!-- External JavaScript and jQuery -->
    <script src="../js/carousel.js" charset="utf-8"></script>
  </body>
</html>
